nav
    div.nav__title
        h1 Title
    ul.nav__menu
        if user
            li 
                a(href="#") #{user.username}'s Profile
            li
                a(href="#") Logout
        else
            li 
                a(href="/sign-in") Sign in
            li 
                a(href="/sign-up") Sign up